version: '3.8'
services:
  gateway:
    build: gateway
    image: dock_image
    container_name: gateway
    ports:
      - "8090:8080"
    depends_on:
    - server
    environment:
      - SHAREIT_SERVER_URL=http://server:8090

  server:
    build: server
    image: dock_image_server
    container_name: server
    ports:
      - "8080:8080"
    depends_on:
    - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shareit
      - spring.datasource.username=root
      - spring.datasource.password=root

  db:
    image: postgres:13.7-alpine
    container_name: db
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_DB=shareit
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root